@import url('https://fonts.googleapis.com/css?family=Oxygen');

body {
    background-color: black;
    color: white;
    width: 100%;
    font-family: 'Oxygen';
}

.carousel {
    width: 100%;
}

.carousel img {
    height: 500px !important;
    width: 100%;
    object-fit: cover;
}

.carousel-inner{
    height: 500px !important;
}

.nav {
    width: 100%;
    background-color: white;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.nav-tabs > li.active > a{
    border: 0;
    background-color: #7CA7BE;
}


.nav-tabs > li.active > a:focus{
    border: 0;
    background-color: #7CA7BE;
    color: white;
}

.nav-tabs > li.active > a:hover {
    border: 0;
    background-color: #7CA7BE;
    color: white;
}

.nav-tabs > li {
    width: 15%;
    text-align: center;
        color: #7CA7BE;
}

.nav-tabs a {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-tabs a > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-tabs > li > a {
    border-radius: 0;
}

h2 {
    margin-bottom: 32px;
    font-weight: bold;
    text-align: center;
}

#start-btn {
    background-color: #E94E3E;
    padding: 20px 80px;
}

#start-box {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.form-group {
  color: black;
}

.profile-row img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 32px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.tooltip > .tooltip-inner {
    background-color: white;
    color: black;
}

.popover {
    color: black;
}

#buttons {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 32px;

}

#buttons .btn {
    background-color: #b7a57a;
    color: white;
    padding: 10px 30px;
}

#globe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    width: auto;
}

.donate-img {
    height: 80px;
    width: auto;
}

#donate-main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: auto;
    margin-bottom: 24px;
}

#quote {
    text-align: center;
    font-weight: 500;
    font-style: italic;
}
